.h1{
    text-align:center;
    font-size: 25px;
    color: black;
}
.box{
    text-align: center;
}
.container{
    text-align: initial;
    width: 100%;
    height: 100px;
    background-color: aqua;
}